.container
  %h1.page-header Listing your companies
  = link_to 'Update user detail', edit_user_path(current_user), class: 'btn btn-info'
  - if current_user.student?
    = link_to 'Create company', new_company_path, class: 'btn btn-info'
  .row
    %table.table
      %thead
        %tr
          %th{scope: 'col'} #
          %th{scope: 'col'} Name
          %th{scope: 'col'} Country
          %th{scope: 'col'}
          %th{scope: 'col'}
      %tbody
        - @companies.each_with_index do |company, index|
          %tr
            %th{scope: 'row'}= index + 1
            %th= link_to "#{company.name}", company_path(company)
            %th= company.country_name
            - if current_user.student?
              %th= link_to 'Update', edit_company_path(company), class: 'btn btn-success'
              %th= link_to 'Delete', company_path(company), method: :delete, class: 'btn btn-danger'


