.container
  %h2= "Company name: #{@company.name}"
  %p= "Country: #{@company.country_name}"
  %p= "Initial cash: #{@company.initial_cash}"
  %p= "Student: #{@company.user_name}"

  %p= link_to 'Back', companies_path, class: 'btn btn-info'

  .row
    %table.table
      %thead
        %tr
          %th{scope: 'col'} #
          %th{scope: 'col'} Cash
          %th{scope: 'col'} Cash in
          %th{scope: 'col'} Cash out
      %tbody
        %tr
          %th 1
          %th Cash
          %th Cash in
          %th Cash out
