%p= link_to 'Back', company_path(@company), class: 'btn btn-info'

= form_for [@company, @cash_management], class: 'form-group' do |f|
  .field.form-group
    = f.label :year, class: 'col-form-label'
    = f.text_field :year, class: 'form-text form-control'

  .field.form-group
    = f.label :month, class: 'col-form-label'
    = f.text_field :month, class: 'form-text form-control'

  .field.form-group
    = f.label :cash_in, class: 'col-form-label'
    = f.number_field :cash_in, class: 'form-text form-control'

  .field.form-group
    = f.label :cash_out, class: 'col-form-label'
    = f.number_field :cash_out, class: 'form-text form-control'

  .actions
    = f.submit 'Save', class: 'btn btn-primary'

