<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%- if current_user %>
      <nav class="navbar navbar-light bg-light">
        <%= button_to 'Log out', destroy_user_session_path, method: 'delete', class: 'btn' %>
      </nav>
    <% end %>
    <p class="alert-primary"><%= notice %></p>
    <p class="alert-danger"><%= alert %></p>
    <%= yield %>
  </body>
</html>
